
@{
    ViewBag.Title = "error404";
}


<html>
<head>
    <title>sistema de login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   
    <style>


        body {
            background-image:url(/Content/img/ErrorPage404-01.jpg)
        }

    </style>
</head>
<body>

</body>

